<%= render "shared/application" %>
<p>Pets Applied For: <% @application.pets.each do |pet| %></p>
<%= "#{pet.name}" %>
  <% if pet.approved?(@application.id) %>
    <p> Pet Approved </p>
  <% elsif pet.rejected?(@application.id) %>
  <p> Pet Rejected </p>
  <% else %>
    <%= button_to "Approved", "/applications/#{@application.id}/pets/#{pet.id}", method: :patch, name: 'status', value: "Approved"%>
    <%= button_to "Rejected", "/applications/#{@application.id}/pets/#{pet.id}", method: :patch, name: 'status', value: "Rejected" %>
  <% end %>
<% end %>
<p>Status:<%= "#{@application.status}" %></p>
